.connected-icon {
    cursor: pointer;
}

.remove-icon {
    cursor: pointer;
}

.contact-scrooll {
    overflow-y: scroll;
}

.body-card {
    height: 500px;
    background-color: black;
}

body,
.card {
    background-color: black;
    color: white;
}